@font-face {
    font-family: 'Brewmaster';
    src: url('./Assets/Fonts/Brewmaster\ Regular.otf') format('opentype');
  }

@font-face {
    font-family: 'Montserrat';}

@font-face {
      font-family: 'Inter';}


body {
  font-family: 'Inter', sans-serif;
  color: #333;
}

.cursive {
  font-family: 'Brewmaster', cursive;
}

.logo-font {
  font-family: 'Montserrat', sans-serif;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
